[Unit]
Description=zahra
AssertPathExists=/usr/local/zahra


[Service]
WorkingDirectory=/usr/local/zahra
ExecStart=/usr/local/zahra/zahra


ExecReload=/bin/kill -HUP $MAINPID
LimitNOFILE=65536
Restart=always
RestartSec=5


[Install]
WantedBy=multi-user.target